<h1>New Appearance</h1>
<p>Please put the name of your guest and the number of his/her episode</p>
<%= form_for @appearance do |f| %>
<%= f.label :name %>
  <%= f.text_field :guest_id %>
  <%= f.label :episode  %>
  <%= f.text_field :episode_id %>
  <br>
  <br>
  <%= f.submit %>
<% end  %>
